<!DOCTYPE html>
<html>
<head>
  <title>Notebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
  <header>
  <div class="header_inner">
    <%= link_to "Rutul Shah", root_path, id: "logo" %>
    <nav>
      <% if user_signed_in? %>
        <%= link_to "New Note", new_note_path %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log In", new_user_session_path %>
      <% end %>
    </nav>
  </div>
</header>

<%= yield %>

</body>
</html>
